/* src/styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* No seu index.css ou global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}

body{
  background-color: #F6F2F2;
}

.text-loading{
  text-align: center;
  width:100%;
  padding:10px;
  font-weight:bold;
}